<div class="btn-group-vertical btn-block" role="group">
  <% @stations.each do |station| %>
    <a class="btn btn-lg <%= station[:on] ? 'btn-success' : 'btn-info' %>" href="/sprinkler/<%= station[:valve] %>/<%= station[:on] ? 'off' : 'on'%>">
      <%= station[:valve] %> - <%= station[:name] %> - <%= station[:on] ? 'On' : 'Off' %>
    </a>
  <% end %>
</div>

<div class="btn-group-vertical btn-block" role="group">
  <a class="btn btn-lg btn-danger" href="/sprinklers/off">
    All Stations Off
  </a>
</div>
